{% extends 'base.html.twig' %}
{% import "addressbook/partials/form_field.twig" as field %}
{% block body %}
    <div class="row">
        <div class="col-2 offset-5">
            {% if entry.pictureurl is defined and entry.pictureurl is not empty %}
                <img id="userPicture" src="{{ asset('uploads/address/' ~ entry.pictureurl) }}" class="userPicture rounded-circle" alt="{{ entry }}">
            {%  else %}
                <img id="userPicture-default" src="{{ asset('blank-profile-picture-973460_640.png') }}" class="userPicture rounded-circle" alt="{{ entry }}">
            {% endif %}
            {%  if entry.id is defined and entry.id is not null %}
                <form id="uploadimage" data-upload-url="{{ path('addressbook-picture-add', {'id' : entry.id}) }}" action="" method="POST" enctype="multipart/form-data">
                    <input type="file" name="file" id="file"  />
                </form>
            {% else %}
                <small class="d-block text-center">Image can be uploaded after saving</small>
            {% endif %}
        </div>
    </div>
        <div class="row">
        <div class="col-12">
            {{ form_start(form) }}
            <div class="my-custom-class-for-errors">
                {{ form_errors(form)  }}
            </div>
            {{ field.render(form.firstname) }}

            {{ field.render(form.lastname) }}

            {{ field.render(form.streetAndNumber) }}

            {{ field.render(form.zip) }}

            {{ field.render(form.city) }}

            {{ field.render(form.country) }}

            {{ field.render(form.phonenumber) }}

            {{ field.render(form.birthday) }}

            {{ field.render(form.emailAddress) }}

            <a class="btn btn-secondary" href="{{ path('addressbook-list') }}">Back to list</a>
            <button class="btn btn-primary float-right" type="submit">Save</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
