{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <form method="POST" action="{{ path('addressbook-new') }}">
                <button class="btn btn-primary float-right" type="submit">New</button>
            </form>
            <div class="clearfix"></div>
            <table class="table table-striped">
                <thead>
                    <tr><th>&nbsp;</th>
                        <th>FirstName</th>
                        <th>Lastname</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for entry in entries %}

                    <tr class="address-item" data-id="{{ entry.id }}" data-url="{{ path('addressbook-edit', {'id': entry.id }) }}">
                        <td>
                            {% if entry.pictureurl is defined and entry.pictureurl is not empty %}
                                <img src="{{ asset('uploads/address/' ~ entry.pictureurl) }}" class="rounded-circle" alt="{{ entry }}">
                            {%  else %}
                                <img src="{{ asset('blank-profile-picture-973460_640.png') }}" class="rounded-circle" alt="{{ entry }}">
                            {% endif %}
                        </td>
                        <td>{{ entry.firstname }}</td>
                        <td>{{ entry.lastname}}</td>
                        <td>
                            <a class="btn btn-light" href="{{ path('addressbook-edit', {'id': entry.id }) }}">
                                <span class="oi oi-pencil"></span>
                            </a>
                            <a class="btn btn-danger action-delete">
                                <span class="oi oi-trash"></span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}