/* Styling for the list */
body.addressbook-list img.rounded-circle {
    width: 50px;
    height: auto;
}

/* Styling for the edit page */
body.addressbook-edit img.rounded-circle {
    width: 100%;
    height: auto;
}